body {
    background-color:paleturquoise;
}

@font-face {
    font-family:OPPOSans;
    src:url('OPPOSans.ttf');
}

h1 {
    text-align:center;
    color:rgba(215, 100, 255, 25);
    font-size:75px;
    font-family:OPPOSans;
}

.food {
    text-align:center;
    color:burlywood;
    font-family:OPPOSans;
    font-size:30px;
}
